// bower:scss
// endbower

a {
    color: white;
    text-decoration: none;

}

body {
    margin: 0px;
    background-color: #B5DEF7;

}

.contactHeader {
    display: inline-block;
    margin-left: 30%;
}

.name {
    display: block;
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
    margin-top: 3px;
}

.title {
    display: block;
    font-size: 17px;
    font-family: Helvetica;
    text-align: center;
    margin-top: -2px;

}

.contactInfo {
    display: block;
    font-size: 17px;
    font-family: Helvetica;
    text-align: center;
    margin-top: -2px;

}

// .connectButtons {
//     display: inline-block;
//     float: right;
//     margin-top: -35px;
//     margin-right: 5px;
// }

.socialButtons {
    display: inline-block;
    float: right;
    margin-top: 28px;
    margin-right: 5px;

}

.connectButtons {
    display: inline-block;

}

.topContainer {

}

.header {
    display: inline-block;
    height: 65px;
    position: fixed;
    width: 100%;
    background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); 
    z-index: 4;

}

.container {
    width: calc(100%);

}

.leftImage {
    margin-top: 58px;
    float: left;
    height: 600px;
    width: 320px;
    background-image: url('http://tryimg.com/4/charl.png');
    background-color: #B5DEF7;
    margin-left: 50px;

}

.rightBar {
    float: left;
    background-color: #9AD2F5;
    height: 658px;
    width: 60%;
}

.cells {
    display: block;
    height: 100px;
    width: 80%;
    background-color: #8CCDF5;
    margin: 0px auto;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cellsTop {
    margin-top: 75px
}

.sampleWork {
    display: block;
    height: 100px;
    width: 80%;
    background-color: #8CCDF5;
    margin: 0px auto;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sampleScreenCap {
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 5px;

}

.links {
    float: right;
    font-size: 14px;
    font-family: Helvetica;
}

.surf {
    background-size: 90px 90px;
    background-image: url('https://cloud.githubusercontent.com/assets/7440065/3435618/77d0efb8-0097-11e4-864a-4273c48a3e03.png');

}

.githubAssignment {
    background-size: 90px 90px;
    background-image: url('https://cloud.githubusercontent.com/assets/7440065/3435766/0a68dca4-0099-11e4-843a-0dbf1a970d46.png');

}

.chat {
    background-size: 90px 90px;
    background-image: url('https://cloud.githubusercontent.com/assets/7440065/3435574/f028ea2a-0096-11e4-8693-ccc8097849d1.png');

}

.sampleInfo {
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    max-width: 78%;
}

.sampleTitle {
    font-size: 18px;
}

.sampleDescrip {
    font-size: 14px;
}

.sampleTools {
    font-size: 12px;
}

.sampleToolsUsed {
    font-size: 12px;
    color: white;
}

.cellsTop {
    margin-top: 75px
}

.middleContainer {
    display: block;
}

.secondBar {
    font-size: 50px;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .leftImage {
        display: none;

    }

    .rightBar {
        float: left;
        height: 800px;
        width: 100%;
        margin-left: 20%;
    }

    .container {
        width: calc(80% - 55px);

    }

    .header {
        display: block;
        height: 100px;

    }

    .socialButtons {
    display: block;
    margin-top: 3px;
    margin-right: 0px;
    margin-left: 43%;
    float: none;

    }

    .cellsTop {
    margin-top: 110px
    
    }

}

@media screen and (max-width:820px) {

    .sampleInfo {
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    max-width: 58%;

    }

    .container {
    width: calc(80% - 55px);

    }
}

@media screen and (max-width: 370px) {
    .contactHeader {
        display: inline-block;
        margin-left: 13%;
    }   

    .contactInfo {
        display: block;
        font-size: 13px;
        font-family: Helvetica;
        text-align: center;
        margin-top: -2px;

    }

    .socialButtons {
    display: block;
    margin-left: 35%;

    }

    .rightBar {
        float: left;
        height: 1000px;
        width: 100%;
        margin-left: 0%;

    }

    .sampleWork {
    display: block;
    height: 170px;
    width: 80%;
    background-color: #8CCDF5;
    margin: 0px auto;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;

    }


    .container {
        width: 100%;

    }

    .links {
        float: left;
        font-size: 14px;
        font-family: Helvetica;
    }

    .cellsTop {
        margin-top: 105px

    }

    .header {
    display: block;
    height: 100px;
    position: fixed;
    width: 100%;
    background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); 
    z-index: 4;

    }
}